@model FirstTimeLoginViewModel


@section scripts {
    <script>
        $(document).ready(function () {
            $("#sendOtpButton").click(function () {
                $("#sendOtpButton").prop("disabled", true);
                $("#loading").show();
                $("#Email").attr("readonly", true);
                $("#emailForm").submit();
            });

            $("#Email").on("input", function () {
                var isValid = $("#emailForm").valid();
                $("#sendOtpButton").prop("disabled", !isValid);
            });
        });
    </script>
}

<h1>
    @if (string.IsNullOrEmpty(ViewBag.Email))
    {
        <text>Update Email</text>
    }
    else
    {
        <text>Update Password</text>
    }
</h1>

@if (User?.Identity?.IsAuthenticated == true && User.HasClaim("FirstTimeLogin", "True"))
{
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(ViewBag.Email))
        {
            <text>Welcome to your first login. Please complete the following steps to register your email:</text>
        }
        else
        {
            <text>Welcome to your first login. Please complete the following steps to change your password:</text>
        }

    </div>

    @if (string.IsNullOrEmpty(ViewBag.Email))
    {
        @if (!ViewBag.TempOtpSentStatus)
        {
            <form asp-action="RegisterEmail" asp-controller="FirstTimeLogin" method="post" id="emailForm">
                <div class="form-group">
                    <label asp-for="Email">Enter your Email</label>
                    <input asp-for="Email" class="form-control" id="Email" name="Email" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px;">
                    <button type="submit" class="btn btn-primary" id="sendOtpButton" disabled>Send OTP</button>
                </div>
                <div id="loading" class="text-center" style="display: none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <p>Sending OTP...</p>
                </div>
            </form>
        }
        else
        {           

            <div class="alert alert-success">
                OTP sent to <strong>@ViewBag.TempExternalEmail</strong>. Please check your email and enter the OTP below:
            </div>
            <form asp-action="VerifyOTP" asp-controller="FirstTimeLogin" method="post">
                <input asp-for="Email" type="hidden" value="@ViewBag.TempExternalEmail" />
                <div class="form-group">
                    <label asp-for="OTP">Enter OTP</label>
                    <input asp-for="OTP" class="form-control" autocomplete="off" type="number" />
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>
                <div style="margin-top:10px;">
                    <button type="submit" class="btn btn-primary">Submit OTP</button>
                </div>
            </form>
        }
    }
    else
    {
        <p class="text-muted text-center">Email Verified: <strong>@ViewBag.Email</strong></p>

        <form asp-action="ChangePassword" asp-controller="FirstTimeLogin" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword">Old Password</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top:10px;">Change Password</button>
        </form>
    }
}
