@model List<CompanyGroup>;

<style>
    /* Style for the left panel */
    .left-panel {
        width: 30%;
        float: left;
        max-height: 100vh;
        overflow-y: scroll;
        padding: 20px;
        background-color: #f0f0f0;
    }

    .company-group-list {
        list-style: none;
        padding: 0;
    }

    .company-group-list-item {
        margin-bottom: 10px;
        cursor: pointer;
    }

    /* Style for the right panel */
    .right-panel {
        width: 70%;
        float: left;
        padding: 20px;
    }

    /* Style for the employee form */
    .group-form {
        display: none;
    }
</style>

<script>
    var companyGroups = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

    function loadCompanyGroup(groupId) {
        debugger;
        // Find the company group in the JavaScript variable
        const selectedGroup = companyGroups.find(group => group.Id === groupId);

        // Check if a group with the given ID was found
        if (selectedGroup) {
            // Populate the form fields with the data from the selected group using jQuery
            $('input[type="text"][disabled]').val(selectedGroup.Id);
            $('input[type="text"]:not([disabled])').val(selectedGroup.GroupName);

            $('.group-form').show();
        }
    }

</script>


<div class="left-panel">
    <h2>Company Groups</h2>
    <table class="company-group-table">
        <thead>
            <tr style="border:1px solid black">
                <th style="border-right:1px solid black">Code</th>
                <th>GroupName</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="company-group-list-item" onclick="loadCompanyGroup(@Model[i].Id)" style="border:1px solid black;">
                    <td style="border-right:1px solid black">@Model[i].Id</td>s
                    <td>@Model[i].GroupName</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="right-panel">
    <h2>Add/Edit CompanyGroup</h2>
    <div class="group-form" id="e">
        <div>
            <label>Code</label>
            <input type="text" value="" disabled />
        </div>
        <div>
            <label>GroupName</label>
            <input type="text" value="" />

        </div>
    </div>
</div>