@{
    ViewBag.Title = "Not Found";
    Layout = null;// Set the Layout to null to disable layout for this page
}

<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="index" asp-controller="home">
    Click here to navigate to the home page
</a>